<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubudu.ilapp2">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.ubudu.ilapp2.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ubudu.ilapp2.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="551ba6a2fe2a419c46b411612399179d86820e30" />
        <!-- Use here your Google Map API v2 key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC30GXjc8Mep_tPYglfzA0UXBM5UYdUmmU" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>